<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">    
<link rel="stylesheet" href="../statics/login.css">
</head>
<body>
    <!------ INSIRIR A LOGO AQUI COM CSS---------->
    <div class="divimage"><img src="../statics/logo_size.png" alt="Logo"></div>
    
<form action="#" method="get">

 <div class="container">
    <br>
        <div class="fonte">
          <p >Seu e-mail</p>
          <input type="email" id="form3Example3cg" class="form-control form-control-lg" />
           <label class="form-label" for="form3Example3cg"></label>
        </div>

        <div class="fonte">
          <p >Digite a senha</p>
          <input type="password" id="form3Example4cg" class="form-control form-control-lg" />
           <label class="form-label" for="form3Example4cg"></label>
        </div>
        <br>
          

      </div>     
      <div class="divbutton">
        <a href = "PAGINA DE BUSCA">
        <button type="button" class="button" >Entrar</button>
        </a>
      </div>
      </form>

</body>

<footer>

  <div class="fonte">
    <p>  Aviso de NÃO posse dos direitos autorais da marca CarHUB ©
   
    </p>
  </div>
   
</footer>
</html>