<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="../statics/register car.css">
</head>
<body>

    <form action="#" method="post">
 <div class="container">
        <div class="fonte">
          <p>Modelo</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>Placa</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>Ano</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>CRV</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>Proprietário</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>Senha</p>
          <input type="password" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>

        <div class="fonte">
          <p>Características</p>
          <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
          <label class="form-label" for="form3Example1cg"></label>
        </div>



  
      </div>
      <div class="divbuttoncadastrar">
        <a href = "PAGINA DE PESQUISA">
          <button type="button" class="button">Cadastrar</button>
        </a>  
       </div>    
    </form>

    <div class="divbuttonsair">
      <a href = "teste.html">
          <button type="button" class="button">Sair</button>
      </a>    
    </div>

</body>

<footer>

  <div class="fonte">
    <p>  Aviso de NÃO posse dos direitos autorais da marca CarHUB ©
   
    </p>
  </div>
   
</footer>

</html>