<html>



    <head>
        <link rel="stylesheet" href ="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href = "../statics/search.css">
        <link rel="stylesheet" href = "../statics/navbar.css">
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.0/font/bootstrap-icons.css">

    </head>



    <body>



        <ul>
            
            <li>
                <a href="#"> Perfil</a>
                <ul class="dropdown">
                    <li>
                        <a href="../templates/editarperfil.html"> <p>Meu Perfil</p></a>
                    </li>
                    <li>
                        <a href="#"><p>Carrinho</p></a>
                    </li>
                </ul>
            </li>


        </ul>




        <div class="logo">
            <img src="../statics/logo_menor.png" style="width: 310px;height: 120px;">



        </div>











           

       


        <div class = "boxContainer">
            <table class="elementsContainer">
                <tr>
                    <td>
                        <input type="text" placeholder="Pesquise algum serviço ou peça!" class="search">
                    </td>
                    <td>   

                        <a href="PAGINA DE RESULTADO CARAI">
                            <i class="bi bi-search" style="color: white; margin-left:15px; width: 5px; height: 300px;"></i>
                        </a>

                    </td>
                </tr>
            </table>
        </div>




        



    </body>

    <footer>

        <div>
          <p class="footer">  Aviso de NÃO posse dos direitos autorais da marca CarHUB ©
         
          </p>
        </div>
         
      </footer>

</html>